
body{
    margin:0px;
    background-color: #C0C0C0 !important;
}
.header-cont {
    width:100%;
    top:0px;
}
.header {
    border:1px solid #CCC;
    background: #333333;
    background: -webkit-linear-gradient(top, #646464 0%,#0e0e0e 100%);
    background: -ms-linear-gradient(top, #646464 0%,#0e0e0e 100%);
    background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
    border-top: 1px solid #444444;
    color: #fff;
    font: 10pt Verdana, Arial, sans-serif;
    height: 83px;
    margin: 0.1% auto auto 24.9%;
    padding: 0;
    position: relative;
    width: 960px;
    z-index: 200;
}

.header img
{
    background: #333333 url("../Images/imdb.PNG") no-repeat;
    margin:16px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
}

.header h3
{
    margin: -56px 220px;
}

.content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: auto;
    margin: 4px auto;
}

.textboxSearch .inputSearch{
    border: none;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
    -webkitz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
    font: 14px Verdana, Arial, sans-serif;
    height: 19px;
    padding: 15px 13px;
    vertical-align: middle;
    width: 500px;
    margin: -72px 145px 36px;
}

.controls
{
	margin: -9.5% 73% 18% 70%;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.row-fluid{
	border-style: solid;     
	padding: 6%;
    background-color: #FFFFFF;
	border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.imgMovie{
    float: left;
    padding-right: 12%;
}

.buttonAddFavorite
{
	float: right;
	margin: -15% 2% 0 0;
}

.menuFavorite:hover
{
background-color: red;
}
